{{ template "index.html" }}
<!-- about section start -->
  <section class="about" id="about">
    <div class="max-width">
      <h2 class="title">About me</h2>
      <div class="about-content">
        <div class="column left">
          <img src="my-image2.jpg" alt=" ">
        </div>
        <div class="column right">
          <div class="text">I'm Saad and I'm <span class="typing-2"></span></div>
          <p>Experienced Linux Administrator and DevOps Engineer with a strong track record in troubleshooting, designing, implementing, maintaining, monitoring, patching, and optimizing IT systems. Skilled in network security, server management, automation, and performance optimization. Proficient in CI/CD pipelines, containerization & orchestration, IAC, and cloud services. Committed to staying updated with emerging technologies and collaborating with cross-functional teams to deliver innovative solutions. Eager to contribute expertise to forward-thinking organizations.
          </p>
          <a href=" "
            target="_blank">My Resume</a>
        </div>
      </div>
    </div>
  </section>


