{{ template "index.html" }}
<!-- contact section start -->
  <section class="contact" id="contact">
    <div class="max-width">
      <h2 class="title">Contact me</h2>
      <div class="contact-content">
        <div class="column left">
          <div class="icons">
            <div class="row">
              <i class="fas fa-user"></i>
              <div class="info">
                <div class="head">Name</div>
                <div class="sub-title">Muhammad Saad</div>
              </div>
            </div>
            <div class="row">
              <i class="fas fa-map-marker-alt"></i>
              <div class="info">
                <div class="head">Address</div>
                <div class="sub-title">Lahore, Punjab, Pakistan</div>
              </div>
            </div>
            <div class="row">
              <i class="fas fa-envelope"></i>
              <div class="info">
                <div class="head">Email</div>
                <div class="sub-title">saadzahid248@gmail.com</div>
              </div>
            </div>
          </div>
        </div>

        <div>
          <ul class="list-unstyled list-inline social text-center">
            <div class="icons">
              <div class="row">
                <a href="https://www.kaggle.com/saadmehar" target="_blank"><i class="fa">K</i>
                  <div class="info">
                    <div class="sub-title">Kaggle</div>
                </a>
              </div>
            </div>
            <div class="row">
              <a href="https://www.linkedin.com/in/saad-zahid11/" target="_blank"><i class="fab fa-linkedin"></i>
                <div class="info">
                  <div class="sub-title">Linkedin</div>
              </a>
            </div>
        </div>
        <div class="row">
          <a href="https://github.com/abdulsaad209" target="_blank"><i class="fab fa-github"></i>
            <div class="info">
              <div class="sub-title">GitHub</div>
          </a>
        </div>
        </ul>
      </div>
    </div>
    </div>
    </div>
  </section>

