{{ template "index.html" }}
<!-- projects section start -->
  <section class="teams" id="teams">
    <div class="max-width">
      <h2 class="title">My Projects</h2>
      <div class="carousel owl-carousel">
        <div class="card">
          <div class="box">
            <img src="whatsapp.jpg" alt="">
            <div class="text">WhatsApp Chat Analyzer</div>
            <p>Code is available on github. For check the code click below!
            </p>
            <button class="custom-btn" onclick="window.open('https://github.com/abdulsaad209/Whatsapp-Chat-Analyzer', '_blank')">
            Visit WebApp Code
            </button>
          </a>
          </div>
        </div>
        <div class="card">
          <div class="box">
            <img src="movie.jpg" alt="">
            <div class="text">Movie Recommendation System</div>
            <p>Code is available on github. For check the code click below!
            </p>
            <button class="custom-btn" onclick="window.open('https://github.com/abdulsaad209/Movie-Recommendation-System', '_blank')">
            Visit WebApp Code
            </button>
          </div>
        </div>
        <div class="card">
          <div class="box">
            <img src="sms-spam.webp" alt="">
            <div class="text">SMS Spam Classifier</div>
            <p>Code is available on github. For check the code click below!
            </p>
            <button class="custom-btn" onclick="window.open('https://github.com/abdulsaad209/SMS-Spam-Classifier', '_blank')">
            Visit WebApp Code
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>

